<template>
	<v-layout align-start>
		<v-flex>
			<v-toolbar flat color="white">
				<v-toolbar-title>Clientes</v-toolbar-title>
				<v-divider class="mx-2" inset vertical></v-divider>
				<v-spacer />
				<v-text-field
					class="text-xs-center"
					v-model="search"
					append-icon="search"
					label="Búsqueda"
					single-line
					hide-details
				></v-text-field>
				<v-spacer />
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on, attrs }">
						<v-btn
							color="primary"
							dark
							class="mb-2"
							v-bind="attrs"
							v-on="on"
						>
							Agregar
						</v-btn>
					</template>

					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-layout wrap>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.nombre"
											label="Nombre"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-select
											v-model="editedItem.tipoDocumento"
											:items="documentos"
											label="Tipo Documento"
										></v-select>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.numDocumento"
											label="Número Documento"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.direccion"
											label="Dirección"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.telefono"
											label="Teléfono"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm6 md6>
										<v-text-field
											v-model="editedItem.email"
											label="Email"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm12 md12 v-show="valida">
										<div
											class="red--text"
											v-for="v in validaMensaje"
											:key="v"
											v-text="v"
										></div>
									</v-flex>
								</v-layout>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click.native="close"
								>Cancelar</v-btn
							>
							<v-btn
								color="blue darken-1"
								text
								@click.native="guardar"
								>Guardar</v-btn
							>
						</v-card-actions>
					</v-card>
				</v-dialog>
				<v-dialog v-model="dialogDelete" max-width="500px">
					<v-card>
						<v-card-title class="headline center"
							>¿Estás seguro de querer eliminar este
							elemento?</v-card-title
						>
						<v-card-actions>
							<v-spacer />
							<v-btn
								color="blue darken-1"
								text
								@click="closeDelete"
								>Cancel</v-btn
							>
							<v-btn color="blue darken-1" text @click="eliminar"
								>OK</v-btn
							>
							<v-spacer />
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="clientes"
				:search="search"
				class="elevation-1"
			>
				<template v-slot:item="props">
					<tr>
						<td class="justify-center layout px-0">
							<v-icon
								small
								class="mr-2"
								@click="editItem(props.item)"
							>
								edit
							</v-icon>
						</td>
						<td>{{ props.item.nombre }}</td>
						<td>{{ props.item.tipoPersona }}</td>
						<td>{{ props.item.tipoDocumento }}</td>
						<td>{{ props.item.numDocumento }}</td>
						<td>{{ props.item.direccion }}</td>
						<td>{{ props.item.telefono }}</td>
						<td>{{ props.item.email }}</td>
					</tr>
				</template>
				<template slot="no-data">
					<v-btn color="primary" @click="listar">Reset</v-btn>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>

<script>
import axios from "axios";
export default {
	name: "ClienteBody",
	data: () => ({
		clientes: [],
		dialog: false,
		dialogDelete: false,
		headers: [
			{
				text: "Opciones",
				align: "start",
				sortable: false,
				value: "actions"
			},
			{ text: "Nombre", value: "nombre" },
			{ text: "Tipo Persona", value: "tipoPersona" },
			{ text: "Tipo Documento", value: "tipoDocumento" },
			{
				text: "Número Documento",
				value: "numDocumento",
				sortable: false
			},
			{ text: "Dirección", value: "direccion", sortable: false },
			{ text: "Teléfono", value: "telefono", sortable: false },
			{ text: "Email", value: "email", sortable: false },
		],
		search: "",
		editedIndex: -1,
		documentos: ["DNI", "RUC", "PASAPORTE", "CEDULA"],
		editedItem: {
			idPersona: 0,
			tipoPersona: "",
			nombre: "",
			tipoDocumento: "",
			numDocumento: "",
			direccion: "",
			telefono: "",
			email: ""
		},
		defaultItem: {
			idPersona: 0,
			tipoPersona: "",
			nombre: "",
			tipoDocumento: "",
			numDocumento: "",
			direccion: "",
			telefono: "",
			email: ""
		},

		valida: 0,
		validaMensaje: [],

		modal: {
			adModal: 0,
			adAccion: 0,
			adNombre: "",
			adId: ""
		}
	}),

	computed: {
		formTitle() {
			return this.editedIndex === -1
				? "Nuevo cliente"
				: "Actualizar cliente";
		}
	},

	watch: {
		dialog(val) {
			val || this.close();
		},
		dialogDelete(val) {
			val || this.closeDelete();
		}
	},

	created() {
		this.listar();
	},

	methods: {
		listar() {
			let me = this;
			axios
				.get("api/Personas/ListarClientes")
				.then(function(response) {
					console.log(response);
					me.clientes = response.data;
				})
				.catch(function(error) {
					console.log(error);
				});
		},

		validar() {
			this.valida = 0;
			this.validaMensaje = [];
			if (
				this.editedItem.nombre.length < 3 ||
				this.editedItem.nombre.length > 100
			) {
				this.validaMensaje.push(
					"El nombre debe tener más de 3 caracteres y menos de 100 caracteres"
				);
			}
			if (!this.editedItem.tipoDocumento) {
				this.validaMensaje.push("Seleccione un tipo documento.");
			}
			if (!this.editedItem.email) {
				this.validaMensaje.push("Ingrese el email del cliente.");
			}
			if (this.validaMensaje.length) {
				this.valida = 1;
			}
			return this.valida;
		},

		limpiar() {
			this.editedItem = this.defaultItem;
			this.editedIndex = -1;
		},

		guardar() {
			if (this.editedIndex > -1) {
				//Código para editar
				let me = this;

				this.editedItem.idPersona = this.clientes[
					this.editedIndex
				].idPersona;
				this.editedItem.tipoPersona = "Cliente";
				axios
					// .put('api/categorias/actualizar/' + this.categorias[this.editedIndex].idPersona, this.editedItem)
					.put("api/Personas/Actualizar", this.editedItem)
					.then(function(response) {
						console.log(response);
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						console.log(error);
					});
			} else {
				//Código para crear
				let me = this;
				this.editedItem.tipoPersona = "Cliente";
				axios
					.post("api/Personas/Crear", this.editedItem)
					.then(function(response) {
						console.log(response);
						me.close();
						me.listar();
						me.limpiar();
					})
					.catch(function(error) {
						console.log(error);
					});
			}
			if (this.validar()) {
				return;
			}
		},

		eliminar() {
			let me = this;
			axios
				.delete(
					`api/categorias/eliminar/${
						this.categorias[this.editedIndex].idPersona
					}`
				)
				.then(function(response) {
					console.log(response);
					me.close();
					me.listar();
					me.limpiar();
				})
				.catch(function(error) {
					console.log(error);
				});
		},

		editItem(item) {
			this.editedIndex = this.clientes.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialog = true;
		},

		deleteItem(item) {
			this.editedIndex = this.clientes.indexOf(item);
			this.editedItem = Object.assign({}, item);
			this.dialogDelete = true;
		},

		close() {
			let me = this;
			this.dialog = false;
			this.dialogDelete = false;
			me.limpiar();
			// this.$nextTick(() => {
			// 	this.editedItem = Object.assign({}, this.defaultItem);
			// 	this.editedIndex = -1;
			// });
		},

		closeDelete() {
			this.dialogDelete = false;
			this.$nextTick(() => {
				this.editedItem = Object.assign({}, this.defaultItem);
				this.editedIndex = -1;
			});
		}
	}
};
</script>
